<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Predio</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Controle de Patrimônio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Funcionarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/Colaborador/">Consultar Colaborador</a></li>
              <li><a class="dropdown-item" href="/Funcao/">Consultar Função</a></li>
              <li><a class="dropdown-item" href="/Permissao/">Consultar Permissão</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Instituições
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/Unidade/">Consultar Unidade</a></li>
              <li><a class="dropdown-item" href="/Predio/">Consultar Predio</a></li>
              <li><a class="dropdown-item" href="/Sala/">Consultar Sala</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Patrimonio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/Patrimonio/">Consultar Patrimonio</a></li>
              <li><a class="dropdown-item" href="/Alocacao/">Consultar Alocação</a></li>
              <li><a class="dropdown-item" href="/Tipo/">Consultar Tipo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin/">Administração</a>
          </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Tabela de Predio</h2>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Unidade</th>
          </tr>
        </thead>
        <tbody>
          {% for Predio in consultas %}
          <tr>
            <td>{{Predio.nome}}</td>
            <td>{{Predio.unidade}}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
